@import url(https://fonts.bunny.net/css?family=amatic-sc:700);

h1 {
    font-family: 'Amatic SC', handwriting;
    
}

body {
    background-color: #3490dc;
    font-family: 'DM Sans';
}

.enbien{
    text-align: center; 
    margin-top: 6em;
}
.content{
    padding-top: 1em;
    margin: auto;
    min-height: 32em;
    max-width: 32em;
    background-color: #dae4e9;
    border-radius: 10px;
}
form{
    display: flex;
    margin-left: 4em;
}
#mission{
    width: 24em;
    height: 2.2em;
    border-radius: 5px;
}
#bouton{
    background-image: url(img/IcRoundKeyboardArrowDown.svg);
    height: 33px;
    width: 33px;
    cursor: pointer;
    border: 0;
    margin: 0 0 0 20px;
    border-radius: 5px;
    background-color: #3490dc;
}
.taskbtn {
    border-radius: 5px;
    width: 15%;
    color: white;
    margin: 0 0 0 10px;
    border: 0;
    background-color: #3490dc;
    border-bottom: solid 1px gray;
    margin-bottom: 10px;
    font-family: 'DM Sans';
    height: 31px;
}
.menu {
    position: fixed;
    left: 112px;
    bottom: 80px;
    border: 2px black solid;
    border-radius: 6px;
    padding:8px 16px;
    background-color: rgb(226 232 240);
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none
}

.line-through {
    text-decoration: line-through;
}

#liste {
    list-type-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
}

.task {
    width: 75%;
    background-color: white;
    border-radius: 5px;
    min-height: 30px;
    border-bottom: solid 1px gray;
    margin-bottom: 10px;
    line-height: 1.5;
}